@charset "UTF-8";

@font-face {
	font-family: 'RobotoBlack';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
}
.RobotoBlack{font-family:RobotoBlack;}

@font-face {
	font-family: 'RobotoBlackItalic';
	src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}
.RobotoBlackItalic{font-family:RobotoBlackItalic;}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
.RobotoBold{font-family:RobotoBold;}

@font-face {
	font-family: 'RobotoBoldItalic';
	src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}
.RobotoBoldItalic{font-family:RobotoBoldItalic;}

@font-face {
	font-family: 'RobotoCondensedBold';
	src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
.RobotoCondensedBold{font-family:RobotoCondensedBold;}

@font-face {
	font-family: 'RobotoCondensedBoldItalic';
	src: url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
}
.RobotoCondensedBoldItalic{font-family:RobotoCondensedBoldItalic;}

@font-face {
	font-family: 'RobotoCondensedItalic';
	src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
}
.RobotoCondensedItalic{font-family:RobotoCondensedItalic;}

@font-face {
	font-family: 'RobotoCondensedLight';
	src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
}
.RobotoCondensedLight{font-family:RobotoCondensedLight;}

@font-face {
	font-family: 'RobotoCondensedLightItalic';
	src: url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
}
.RobotoCondensedLightItalic{font-family:RobotoCondensedLightItalic;}

@font-face {
	font-family: 'RobotoCondensedRegular';
	src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
.RobotoCondensedRegular{font-family:RobotoCondensedRegular;}

@font-face {
	font-family: 'RobotoItalic';
	src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}
.RobotoItalic{font-family:RobotoItalic;}

@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
.RobotoLight{font-family:RobotoLight;}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}
.RobotoLightItalic{font-family:RobotoLightItalic;}

@font-face {
	font-family: 'RobotoMedium';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
.RobotoMedium{font-family:RobotoMedium;}

@font-face {
	font-family: 'RobotoMediumItalic';
	src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}
.RobotoMediumItalic{font-family:RobotoMediumItalic;}

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
.RobotoRegular{font-family:RobotoRegular;}

@font-face {
	font-family: 'RobotoThin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}
.RobotoThin{font-family:RobotoThin;}

@font-face {
	font-family: 'RobotoThinItalic';
	src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}
.RobotoThinItalic{font-family:RobotoThinItalic;}
