@charset "UTF-8";

@font-face {
	font-family: 'Playlist';
	src: url('../fonts/Playlist-Script.otf') format('opentype');
}
.Playlist{font-family:Playlist;}
.PlaylistB{font-family:Playlist;font-weight:bold;}
