@charset "UTF-8";

@font-face {
	font-family: 'PlayfairDisplayBB';
	src: url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
}
.PlayfairDisplayBB{font-family:PlayfairDisplayBB;}

@font-face {
	font-family: 'PlayfairDisplayBBI';
	src: url('../fonts/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}
.PlayfairDisplayBBI{font-family:PlayfairDisplayBBI;}

@font-face {
	font-family: 'PlayfairDisplayB';
	src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}
.PlayfairDisplayB{font-family:PlayfairDisplayB;}

@font-face {
	font-family: 'PlayfairDisplayBI';
	src: url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}
.PlayfairDisplayBI{font-family:PlayfairDisplayBI;}

@font-face {
	font-family: 'PlayfairDisplayI';
	src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}
.PlayfairDisplayI{font-family:PlayfairDisplayI;}

@font-face {
	font-family: 'PlayfairDisplayR';
	src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
.PlayfairDisplayR{font-family:PlayfairDisplayR;}

