@charset "UTF-8";

@font-face {
	font-family: 'Crimson';
	src: url('../fonts/CrimsonText-Regular.ttf') format('truetype');
}
.Crimson{font-family:Crimson;}
.CrimsonB{font-family:Crimson;font-weight:bold;}
