@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	/* Thank you https://www.pexels.com/photo/background-black-blackboard-board-159770/ */
	background-attachment: fixed;
	background-image: url(../img/login_bg.jpg);
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-blend-mode: overlay;
	background-clip: border-box;
	background-color: #444;
	background-origin: padding-box;*/
}

.form-signin {
	max-width: 310px;
	background-color: rgba(255, 255, 255, .25);
	border-radius: .2em;
}
